// RESET

*, *:before, *:after{
    box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: none;
}

footer, header, nav, section, main{
    display: block;
}

body{
    line-height: 1;
}

ol, ul{
    list-style: none;
}

blockquote, q{
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
    content: '';
    content: none;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

input{
    border-radius: 0;
}
// END RESET
body {
    text-align: center;
    height: 100vh;
}

header {
    padding: 1rem;
}
h1 {
    font-size: 3rem;
    margin: 2rem auto; 
}


.container {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: 2rem auto;
}

.cols {
    width: 100%;
    flex: 1;
    height: 100%;
    
}

.rows {
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;

    
    div {
      padding: 1rem;  
    }

    div:nth-child(2) {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        
    }
}

.cols[data-color='white'] {
    background-color: #fefefe;
}
.cols[data-color='black'] {
    background-color: #000000;
}
.cols[data-color='grey'] {
    background-color: grey;
}
.cols[data-color='blue'] {
    background-color: blue;
}
.cols[data-color='green'] {
    background-color: darkgreen;
}
.cols[data-color='red'] {
    background-color: firebrick;
}
.cols[data-color='yellow'] {
    background-color: gold;
}


option {
    outline: none;
}